node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env

# Ignore the intellij specific settings
.idea/

# Distribution directory. Don't version control the built app
dist

# Private directory contains screenshots unrelated to
# the public repository so it should be excluded
private