node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env

# Ignore the intellij specific settings
.idea/

# Distribution directory. Don't version control the built app
dist

# Private directory contains unused assets and screenshots that
# are no longer included in this website
private