
$background: #230b25;

$heading-gradient-start: rgba(105, 0, 80, 8%);
$heading-gradient-end: $background;

$heading-title: #FFFFFF;
$heading-text: #B1ABB0;
$heading-role: #D084EB;


$first-gradient-top: $background;
$first-gradient-bottom: $background;
$first-block-tint-top: #2a1631;
$first-block-tint-bottom: rgb(34, 16, 40);
$first-block-title-bg: #562f5c;
$first-block-subtitle-hash: #9544a2;
$first-button-background: #3E2247;


$second-gradient-top: $first-gradient-bottom;
$second-gradient-bottom: #0B1023;
$second-block-tint-top: #211631;
$second-block-tint-bottom: #111628;
$second-block-title-bg: #334178;
$second-button-background: #1E1C37;


$third-gradient-top: $second-gradient-bottom;
$third-gradient-bottom: #361111;
$third-block-tint-top: #221631;
$third-block-tint-bottom: #3d1a1a;
$third-block-title-bg: #a33b3b;
$third-button-background: #512323;

$footer-gradient-top: $third-gradient-bottom;
$footer-gradient-bottom: $background;

$footer-background: #2e0e1a;

$title: #FFFFFF;
$text: #A7A7A7;