@import "reset";
@import "fonts";
@import "variables";
@import "colors";


::-webkit-scrollbar {
  background: $background;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #D084EB;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $background;
}

/*
*  Apply the font-family and relevant font styles to
*  elements that will contain text
*  (rather than applying it to everything)
*/
h1, h2, h3, h4, h5, h6, input, button, p, span, a, ul {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button-group {
  display: flex;
  flex-flow: row;
  gap: 1.5rem;
}

button.button {
  border: none;
}

.button {
  text-align: left;
  text-decoration: none;
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 0.75rem;
  background: $first-button-background;
  border-radius: 8px;
  padding: 0.75rem 1rem 0.75rem 0.75rem;
  font-size: 1rem;

  &__icon {
    width: 32px;
    height: auto;
  }

  &__text {
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }

}

.content {

  border-radius: 5px;

  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;

  // Apply margin of 2rem for vertical and align center with side margins
  margin: 0 auto;

  // Use all available width but don't go larger than 900px
  width: calc(100% - 4rem);
  max-width: 900px;

  background: linear-gradient($background, $background);
  padding: 2rem;

  &--background {
    padding: 2rem;
    background: linear-gradient($background, $background);
  }

  &__title {
    text-decoration: none;
    padding: 1rem;
    background: $background;
    font-size: 1.5rem;
    font-weight: bold;
    color: $title;
    border-radius: 8px;
  }

  &__body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;

    &__item {

      &__title {
        color: $title;
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      &__text {
        color: $text;
        line-height: 1.5;
        font-size: 1.2rem;
      }

    }
  }
}

p {
  line-height: 1.5;
}