@import "reset";
@import "fonts";
@import "variables";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $background;
}

h1, h2, h3, h4, h5, h6, input, button, p, span, a, ul {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.block {
  display: block;
  text-align: center;
  background: $background-dark-op;
  padding: 3rem 2rem;
  margin-bottom: 3rem;

  &__title {
    font-size: 2em;
    color: $title-color;
  }

  &__text {
    max-width: 800px;
    margin: 1em auto;
    color: $text-color;
    line-height: 2;
  }

}

.icon--inline {
  height: 1em;
  width: auto;
  vertical-align: middle;
}
