$font-family: 'JetBrains Mono', Roboto, Arial, sans-serif;

$primary: #ff6875;
$primary-dark: #b94c55;

$text-color: #8575b4;
$title-color: rgb(186, 173, 224);

$background: #2c263d;
$background-dark: #231f30;
$background-light: #38314c;
$background-dark-op: adjust-color($background-dark, $alpha: -0.1)